$primary_color: #005BBD;
$secondary_color: #3395FF;
$third_color: #FFD800;
$third_darken_color: rgba(208, 0, 0, 0.5);
$light_color: #90abcf;
$grey_darken_color: #7c7c7c;
$grey_color: #D7D7D7;
$grey_lighten_color: #F2F2F2;
$danger_color: #dc3232;
$footer_heading: #001933;

$font_weight_light: 300;
$font_weight_regular: 400;
$font_weight_medium: 500;
$font_weight_semi: 600;
$font_weight_bold: 700;


$fa-font-path: '../vendor/FontAwesome/webfonts';